.display-div{
  display: flex;
  margin-top: 3%;
  justify-content: flex-start;
  align-items: center;
  gap: 13%;

}

.displayarticle{
  display: flex;
  align-items: center;
  gap: 4.9%;

}

.anmperson{
  color: orangered;
  font-size: 45px;
  font-weight: bold;
  align-items: center;
}