.displayheader{
  background-image: url(../../images/img-background-header-.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3%;
}

.displayheader__flex{
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-right: 4%;

}

.displayheader__flex{
  li{
    padding: 5%;
  }
}

.logo{
  margin-top: 2%;
}

.displayheader__flex--nav{
 display: flex;
}

.displayheader__flex--li-2{
  display: flex;
}

.icon-top{
  position: relative;
  bottom: 7%;
}

@mixin h1 {
  margin: 3% 68% 6.5% 0%;
  font-size: 32px;
  font-family: 'Krub', sans-serif;
  font-weight: bold;
  -webkit-text-stroke-width: medium; 
   
}

.h1-home{
  background-color: #d9d9d986;
  @include h1;

}

.h1-home-2{
 @include h1;
}

.display-prom{
  display
}