.displaymain{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
  
}

.cart-background{
  background-image: url(../../images/carrito.png);
  background-repeat: no-repeat;
 
}

.displaymain_img{
  position:absolute;
  left: 22.5%;
  top: 64%;

}

.displaymain_img2{
  position: relative;
  left: 84%;
  top: 70%;
}

.displaymain_img3{
  position: relative;
  left: 71%;
  top: 85%;
}