* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  image-resolution: 100px;
}

body {
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-top: 5%;
  padding-left: 5%;
}

.buttons__titulo {
  background-color: rgba(17, 0, 255, 0.589);
  margin-right: 75%;
  border-radius: 5px;
}

.buttons__titulo--color {
  color: white;
  display: flex;
  align-items: center;
  padding: 2% 2% 2% 2%;
  justify-content: center;
}

.ancor {
  margin-top: 3%;
  padding-left: 5%;
}

.ancor__element--color {
  margin-bottom: 1%;
  padding: 1% 6% 1% 6%;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0.7);
  border: none;
}
.ancor__element--color:hover {
  color: white;
  background-color: rgba(17, 0, 255, 0.589);
}

.ancor__element--color-1 {
  padding: 3% 3% 2% 3%;
  position: relative;
  left: 25%;
  bottom: 62px;
  font-size: 17px;
  margin-bottom: 1%;
  border-radius: 17px;
  background-color: rgba(217, 217, 217, 0.7);
  border: none;
  border: none;
  font-family: "Krub", sans-serif;
}
.ancor__element--color-1:hover {
  color: white;
  background-color: rgba(17, 0, 255, 0.589);
}
@media screen and (max-width: 760px) {
  .ancor__element--color-1 {
    padding: 3% 2% 2% 2%;
    left: 26%;
    bottom: 35px;
    font-size: 9px;
  }
}

.ancor__element--color-2 {
  padding: 3% 8% 2% 8%;
  position: relative;
  left: 19%;
  bottom: 110px;
  font-size: 38px;
  margin-bottom: 1%;
  border-radius: 17px;
  background-color: rgba(217, 217, 217, 0.7);
  border: none;
  border: none;
  font-family: "Krub", sans-serif;
}
.ancor__element--color-2:hover {
  color: white;
  background-color: rgba(17, 0, 255, 0.589);
}
@media screen and (max-width: 760px) {
  .ancor__element--color-2 {
    left: 20%;
    bottom: 40px;
    font-size: 12px;
  }
}

.ancor__element--color-3 {
  padding: 1.5% 27% 1.5% 27%;
  position: relative;
  left: 4%;
  bottom: 58px;
  font-size: 22px;
  margin-bottom: 1%;
  border-radius: 17px;
  background-color: rgba(217, 217, 217, 0.7);
  border: none;
  border: none;
  font-family: "Krub", sans-serif;
}
.ancor__element--color-3:hover {
  color: white;
  background-color: rgba(17, 0, 255, 0.589);
}
@media screen and (max-width: 760px) {
  .ancor__element--color-3 {
    left: 2%;
    bottom: 35px;
    font-size: 13px;
  }
}

.ancor__element--color-4 {
  padding: 1.5% 26% 1.5% 26%;
  position: relative;
  left: 14%;
  bottom: 58px;
  font-size: 22px;
  margin-bottom: 1%;
  border-radius: 17px;
  background-color: rgba(217, 217, 217, 0.7);
  border: none;
  border: none;
  font-family: "Krub", sans-serif;
}
.ancor__element--color-4:hover {
  color: white;
  background-color: rgba(17, 0, 255, 0.589);
}
@media screen and (max-width: 760px) {
  .ancor__element--color-4 {
    left: 14%;
    bottom: 34px;
    font-size: 13px;
  }
}

.ancor__element--color-orange {
  margin-bottom: 1%;
  padding: 0.5% 2% 0.5% 2%;
  border-radius: 5px;
  background-color: #F07707;
  color: black;
  text-decoration: none;
  position: relative;
  top: 92%;
  right: 23%;
  font-family: "Krub", sans-serif;
  font-weight: bold;
  border: none;
}
.ancor__element--color-orange:hover {
  color: white;
  background: -webkit-linear-gradient(right, #F07707, rgba(17, 0, 255, 0.589));
}

.buttons {
  margin-top: 5%;
  padding-left: 5%;
}

.buttons__titulo {
  background-color: rgba(17, 0, 255, 0.589);
  margin-right: 5%;
  border-radius: 5px;
}

.buttons__titulo--color {
  color: white;
  display: flex;
  align-items: center;
  padding: 2% 2% 2% 2%;
  justify-content: center;
}

.Icon {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Icon-2 {
  background-color: rgb(17, 0, 255);
  padding-top: 3%;
  padding-bottom: 3%;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
}

.img-header {
  margin-top: 5%;
  padding-left: 25%;
}

.img-footer {
  margin-top: 5%;
  padding-left: 22%;
}

@media screen and (max-width: 760px) {
  .icon {
    width: 20px;
    height: 20px;
  }
}

.icon-top {
  position: relative;
  bottom: 7%;
}
@media screen and (max-width: 760px) {
  .icon-top {
    width: 20px;
    height: 20px;
  }
}

.Color {
  display: flex;
  justify-content: space-around;
}

.Color__h1 {
  background-color: #01094A;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1--color {
  color: white;
}

.Color__h1-2 {
  background-color: #071696;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-3 {
  background-color: #2132CD;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-4 {
  background-color: #F07707;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-5 {
  background-color: #454A01;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-5 {
  background-color: #454A01;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-6 {
  background-color: #4A0106;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-7 {
  background-color: #01424A;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.font {
  font-family: "Krub", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.font-2 {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.font-3 {
  font-family: "Itim", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.font-4 {
  font-family: "Italiana", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.displayheader {
  background-image: url(../../images/img-background-header-.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3%;
}
@media screen and (max-width: 760px) {
  .displayheader {
    margin-bottom: 9%;
    padding: 0px 14px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.displayheader__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-right: 4%;
}
.displayheader__flex li {
  padding: 5%;
}

.logo {
  margin-top: 2%;
}

.displayheader__flex--nav {
  display: flex;
}

.displayheader__flex--li-2 {
  display: flex;
}

.h1-home {
  background-color: rgba(217, 217, 217, 0.5254901961);
  margin: 3% 68% 6.5% 0%;
  font-size: 32px;
  font-family: "Krub", sans-serif;
  font-weight: bold;
  -webkit-text-stroke-width: medium;
}
@media screen and (max-width: 760px) {
  .h1-home {
    margin: 0% 48% 15% 0%;
    font-size: 10px;
  }
}

.h1-home-2 {
  margin: 3% 68% 6.5% 0%;
  font-size: 32px;
  font-family: "Krub", sans-serif;
  font-weight: bold;
  -webkit-text-stroke-width: medium;
}

.display-prom {
  display: flex;
  gap: 1%;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (max-width: 760px) {
  .display-prom {
    flex-direction: column;
    align-items: center;
  }
  .display-prom img {
    height: auto;
    width: auto;
    max-width: 260px;
    max-height: 260px;
  }
}

.displaymain {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
}

.cart-background {
  background-image: url(../../images/carrito.png);
  background-repeat: no-repeat;
}

.displaymain_img {
  cursor: pointer;
  position: relative;
  right: 10%;
  top: 64%;
}

.displaymain_img2 {
  cursor: pointer;
  position: relative;
  right: 13%;
  top: 70%;
}

.displaymain_img3 {
  cursor: pointer;
  position: relative;
  right: 15%;
  top: 85%;
}

.displayfooter {
  background-color: #01424A;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  margin-top: 5%;
  display: flex;
  gap: 14%;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}

.ancor-display {
  display: flex;
  gap: 20%;
  padding-left: 6%;
  margin-bottom: 8%;
  margin-top: 8%;
}

.p-footer-display {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  text-align: -webkit-center;
  font-size: 15px;
  margin-bottom: 1%;
}
@media screen and (max-width: 760px) {
  .p-footer-display {
    font-size: 10px;
  }
}

.p-footer-display-2 {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 15px;
  margin-right: 1%;
}
@media screen and (max-width: 760px) {
  .p-footer-display-2 {
    font-size: 10px;
  }
}

.p span {
  font-family: "Krub", sans-serif;
  font-weight: lighter;
}

.display-div {
  display: grid;
  margin-top: 5%;
  justify-content: space-around;
  justify-items: start;
  margin-left: 4.5%;
}

.displayarticle {
  display: flex;
  align-items: center;
  gap: 3.7%;
  margin-top: 5%;
}

.anmperson {
  color: orangered;
  font-size: 30px;
  align-items: center;
  position: relative;
  top: 16px;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.comentarios {
  left: 611px;
  top: 1115px;
  box-sizing: border-box;
  position: absolute;
  width: 294px;
  height: 257px;
  background: #FFFFFF;
  border: 3px solid #2C5581;
  border-radius: 15px;
}

.comentarios2 {
  box-sizing: border-box;
  position: absolute;
  width: 294px;
  height: 257px;
  background: #FFFFFF;
  border: 3px solid #2C5581;
  border-radius: 15px;
  left: 925px;
  top: 1115px;
}

.user {
  position: relative;
  left: 20%;
  bottom: 18%;
}

.date {
  position: relative;
  left: 61%;
  bottom: 50%;
}

.p-name {
  position: relative;
  left: 57%;
  bottom: 25%;
}

.stars {
  position: relative;
  left: 52%;
  bottom: 21%;
}

.p-comentario {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  position: relative;
  bottom: 15%;
  padding: 1% 1% 2% 2%;
  font-weight: bold;
}

.h1_article {
  font-size: 23px;
  font-family: "Inter", sans-serif;
  -webkit-text-stroke-width: medium;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (max-width: 760px) {
  .h1_article {
    font-size: 9px;
  }
}

.h1_article--line {
  border: 2px solid #000000;
  width: 837.02px;
  height: 0px;
  position: relative;
  top: 66px;
}
@media screen and (max-width: 760px) {
  .h1_article--line {
    width: 221px;
    top: 27px;
  }
}

.article-prom {
  display: flex;
  gap: 1%;
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (max-width: 760px) {
  .article-prom {
    flex-direction: column;
    align-items: center;
  }
  .article-prom img {
    height: auto;
    width: auto;
    max-width: 260px;
    max-height: 260px;
  }
}

.article_prom {
  margin-left: 5%;
  margin-right: 0%;
  margin-top: 3%;
}
@media screen and (max-width: 760px) {
  .article_prom img {
    width: auto;
    height: auto;
    max-width: 144px;
    max-height: 144px;
  }
}

.aricle_prom-final {
  display: flex;
  background-image: url(../../images/rectangle47.png);
}

.Display_flex-prom {
  display: flex;
  margin-left: 13%;
  margin-right: 0%;
  gap: 18%;
  margin-top: 1%;
  font-family: "Krub", sans-serif;
  font-size: 29px;
  text-align: center;
}
@media screen and (max-width: 760px) {
  .Display_flex-prom {
    font-size: 8px;
    gap: 6%;
    margin-left: 9%;
  }
}

/*# sourceMappingURL=styles.css.map */
