* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  image-resolution: 100px;
}

body {
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-top: 5%;
  padding-left: 5%;
}

.buttons__titulo {
  background-color: rgb(17, 0, 255);
  margin-right: 75%;
  border-radius: 5px;
}

.buttons__titulo--color {
  color: white;
  display: flex;
  align-items: center;
  padding: 2% 2% 2% 2%;
  justify-content: center;
}

.ancor {
  margin-top: 3%;
  padding-left: 5%;
}

.ancor__element--color {
  margin-bottom: 1%;
  padding: 1% 6% 1% 6%;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0.7);
  border: none;
}
.ancor__element--color:hover {
  color: white;
  background-color: rgb(17, 0, 255);
}

.ancor__element--color-orange {
  margin-bottom: 1%;
  padding: 0.5% 2% 0.5% 2%;
  border-radius: 5px;
  background-color: #F07707;
  color: black;
  text-decoration: none;
  position: absolute;
  top: 92%;
  left: 75%;
  font-family: "Krub", sans-serif;
  font-weight: bold;
  border: none;
}
.ancor__element--color-orange:hover {
  color: white;
  background: -webkit-linear-gradient(right, #F07707, rgb(17, 0, 255));
}

.buttons {
  margin-top: 5%;
  padding-left: 5%;
}

.buttons__titulo {
  background-color: rgb(17, 0, 255);
  margin-right: 5%;
  border-radius: 5px;
}

.buttons__titulo--color {
  color: white;
  display: flex;
  align-items: center;
  padding: 2% 2% 2% 2%;
  justify-content: center;
}

.Icon {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Icon-2 {
  background-color: rgb(17, 0, 255);
  padding-top: 3%;
  padding-bottom: 3%;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
}

.img-header {
  margin-top: 5%;
  padding-left: 25%;
}

.img-footer {
  margin-top: 5%;
  padding-left: 22%;
}

.Color {
  display: flex;
  justify-content: space-around;
}

.Color__h1 {
  background-color: #01094A;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1--color {
  color: white;
}

.Color__h1-2 {
  background-color: #071696;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-3 {
  background-color: #2132CD;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-4 {
  background-color: #F07707;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-5 {
  background-color: #454A01;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-5 {
  background-color: #454A01;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-6 {
  background-color: #4A0106;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.Color__h1-7 {
  background-color: #01424A;
  margin-top: 5%;
  padding: 1% 8% 1% 8%;
}

.font {
  font-family: "Krub", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.font-2 {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.font-3 {
  font-family: "Itim", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.font-4 {
  font-family: "Italiana", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.displayheader {
  background-image: url(../../images/img-background-header-.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3%;
}

.displayheader__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-right: 4%;
}

.logo {
  margin-top: 2%;
}

.displayheader__flex--nav {
  display: flex;
}

.displayheader__flex--li {
  padding-left: 3%;
  align-items: center;
}

.displayheader__flex--li-2 {
  display: flex;
}

.h1-home {
  background-color: rgba(217, 217, 217, 0.5254901961);
  margin: 1% 68% 7.5% 0%;
  font-size: 32px;
  font-family: "Krub", sans-serif;
  font-weight: bold;
  -webkit-text-stroke-width: medium;
}

.displaymain {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
}

.cart-background {
  background-image: url(../../images/carrito.png);
  background-repeat: no-repeat;
}

.displaymain_img {
  position: absolute;
  left: 22.5%;
  top: 64%;
}

.displaymain_img2 {
  position: relative;
  left: 84%;
  top: 70%;
}

.displaymain_img3 {
  position: relative;
  left: 71%;
  top: 85%;
}

.displayfooter {
  display: flex;
  background-color: #01424A;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-top: 5%;
}

.p span {
  font-family: "Krub", sans-serif;
  font-weight: lighter;
}

.display-div {
  display: grid;
  margin-top: 5%;
  justify-content: space-around;
  justify-items: start;
  margin-left: 4.5%;
}

.displayarticle {
  display: flex;
  align-items: center;
  gap: 3.7%;
  margin-top: 5%;
}

.anmperson {
  color: orangered;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
